body {
font-family: "Poppins", sans-serif;
font-size: 20px;
color: #8f95a5;
background-color: #fff;
    
}
a {
     text-decoration: none;
   
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-title {
font-weight: 600;
font-size: 48px;
color: #000;
text-align: center;
}
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
/* header */

.logo {

font-size: 36px;
color: #000;
}
.logo-part {
    color: #939393;
}
.nav-link {
font-weight: 500;
color: #263238;
}
.nav-link:hover,
.nav-link:focus{
    color: tomato;
}
.current {
    color: tomato;
}
.header-btn {
font-family: "Poppins", sans-serif;
font-size: 20px;
letter-spacing: 0.03em;
text-align: center;
color: #000;
background-color: transparent;
border: 2px solid #263238;
border-radius: 10px;
cursor: pointer;

}
.header-btn:hover,
.header-btn:focus{
    background-color: tomato;
    color: #fff;
}
/* hero */
.hero {

}
.hero-title {
    font-weight: 600;
font-size: 64px;
line-height: 1.25; 
color: #000;
}
.hero-text {
    font-size: 24px;
}
.hero-btn {
font-family: "Poppins", sans-serif;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
cursor: pointer;
background-color:  #263238;
border-radius: 10px;
border: 2px solid transparent;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #fff;
    color: #263238;
    border: 2px solid #263238;
}
/* skills */
.skills-subtitle {
font-weight: 600;
font-size: 30px;
color: #263238;
}
.skills-text {
    font-size: 16px;
}
.skills-link {
font-weight: 500;
font-size: 18px;
color: #fff;
background-color: #263238;
}
/* about */

.about-title {
     text-align: left;
}
.about-text {
    line-height: 1.8;
}
.about-desc {
  
font-weight: 600;
font-size: 48px;
color: #2a3246;
}
/* pricing */
.pricing-subtitle {
    font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 30px;
line-height: 1.6;
text-transform: capitalize;
color: #263238;
}
.pricing-desc {
    font-size: 24px;
color: #263238;
}
.pricing-text {
    font-size: 18px;
color: #546269;
}
/* Contact */
.contacts-btn {
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.03em;
color: #fff;
background-color: #263238;
cursor: pointer;
border: none;
}
/* footer */
.footer-link {
font-size: 24px;
letter-spacing: 0.02em;
color: #8f95a5;
}

/* card */
.card-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}
.card-item {
    width: 360px;
height: 420px;
background-color: tomato;
outline: 1px solid black;
}